---
layout: default
---

{{ content }}

<div id="gitalk-container"></div>
<script src="https://unpkg.com/gitalk/dist/gitalk.css"></script>
<script>
  const gitalk = new Gitalk({
    id: window.location.pathname,
    clientID: '{{ site.gitalk.clientId }}',
    clientSecret: '{{ site.gitalk.clientSecret }}',
    repo: '{{ site.gitalk.repo }}',
    owner: '{{ site.gitalk.owner }}',
    admin: ['{{ site.gitalk.admin }}'],
    distractionFreeMode: '{{ site.gitalk.distractionFreeMode }}',
    perPage: '{{ site.gitalk.perPage }}',
    pagerDirection: '{{ site.gitalk.pagerDirection }}',
    createIssueManually: '{{ site.gitalk.createIssueManually }}',
    enableHotKey: '{{ site.gitalk.enableHotkey }}'
  });
  gitalk.render('gitalk-container');
</script>